<!DOCTYPE html>
<html >
<head>
      <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.js"></script>

  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	<script type="text/javascript" src="js/script.js" ></script>
	<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
</head>
<body >


<div class="container" ng-app="myApp"  ng-controller="myCtrl">

<div class="jumbotron">
    <h1>PIK Indonesian Restaurant</h1>
    <h3>This is a self-serve system to order your menu</h3>
</div>

    <div class="row" >
        <div class="col-md-12">  
              <header class="w3-container w3-light-grey w3-padding-16">
                <h3> <span class="glyphicon glyphicon-pencil"></span>  I'd like to order:</h3>
              </header>
              <ul class="w3-ul">
                <li ng-repeat="x in foodNote" class="w3-padding-16">{{x}}<span ng-click="removeItem($index)" style="cursor:pointer;" class="w3-right w3-margin-right">x</span></li>
              </ul>
              <div class="w3-container w3-light-grey w3-padding-16">
                <div class="w3-row w3-margin-top">
                  <div class="w3-col s10">
                    <input placeholder="Add food item here" ng-model="addMe" class="w3-input w3-border w3-padding">
                  </div>
                  <div class="w3-col s2">
                    <button ng-click="addItem()" class="w3-btn w3-padding w3-green">Add</button>
                  </div>
                </div>

                <div class="w3-row w3-margin-top">

                 <div class="w3-col s10 finishBtn">
                    <button ng-click="finishItem()" class="w3-btn w3-padding w3-green">Finish Order.</button>
                    <p> <i>{{orderedMenu}}</i></p>
                  </div>

                </div>
                <p class="w3-padding-left w3-text-red">{{errortext}}</p>
              </div>
        </div>
    </div>


<br>


    <div class="row">
        <div class="col-md-12">
          <button class="w3-btn w3-padding w3-green" ng-click="toggleMenu()" ng-model="btnText">{{btnText}}</button> 
          &nbsp;
            Search Our Menu: <input ng-model="query">
            Sort by:
            <select ng-model="orderProp">
                <option value="name">Alphabetical</option>
                <option value="price">Category</option>
                <option value="price">Price</option>
            </select>
            Do Not Show picture: <input type="checkbox" ng-model="myCheck">
        </div>
    </div>  

<br>

    <div class="row menuFrame" ng-hide="myMenu">
        <div class="col-md-12" >
        <ul>
            <li ng-repeat="food in foods | filter:query | orderBy:orderProp" class="thumbnail food-listing">
               <p><span class="glyphicon glyphicon-cutlery"></span> {{food.name}} - {{food.category}}  </p>
                <p> <span class="glyphicon glyphicon-list"></span>  {{food.desc}}</p>
                <p><span class="glyphicon glyphicon-tag"></span> ${{food.price}}</p>
               <div class="foodDiv" ng-hide="myCheck">
                 <img class="imgSource" ng-src="http://hidayathasan.net/projects/21/json/{{food.imageUrl}}">
                </div>
            </li>
        </ul>
        </div>
    </div>

</div>
</div>

<br>
<div class="footnote">
<a href="http://www.HidayatHasan.net" target="_blank">Copyright © 2016 HidayatHasan.net</a>
</div>



</body>
</html>